[user]
    name = Captain Fizzbin
    email = code@cptnfizzbin.ca
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFLv5AKuYEfcul9uHzpyTdYCZeKx/IrW01oLZZCnBzux

[core]
    editor = vim
    eol = lf
    autocrlf = false
    longpaths = true
    # Must explictly be a windows path to ssh.exe, otherwise it throws an error
    # when it tries to use ssh from cygen
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
	# to be configured in .gitconfig.local

[push]
    autoSetupRemote = true

[commit]
    gpgsign = true

[rerere]
    enabled = true

[pull]
    rebase = true

[include]
    path = ~/.gitconfig.local
