[user]
	name = Captain Fizzbin
	email = code@cptnfizzbin.ca
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFLv5AKuYEfcul9uHzpyTdYCZeKx/IrW01oLZZCnBzux

[core]
	editor = vim
	autocrlf = input
	eol = lf
	# Must explictly be a windows path to ssh.exe, else libcrypto throws an error
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	program = op-ssh-sign.exe
	allowedSignersFile = ~/.ssh/allowed_signers

[push]
	autoSetupRemote = true

[commit]
	gpgsign = true

[rerere]
	enabled = true

[pull]
	rebase = true

[include]
	path = ~/.gitconfig.local
